p {
    margin: 0;
}
.hidden-select {
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.visible-area {
    overflow-x: hidden;
    position: relative;
}
.visible-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    box-shadow: inset 50px 0 20px -8px rgba(255, 255, 255, .8);
    z-index: 2;
}
.visible-area:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    box-shadow: inset -50px 0 20px -8px rgba(255, 255, 255, .8);
}
.slider-wrapper {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    transition: all 0.7s ease-in-out;
}
.slider-wrapper:focus {
    outline: 0;
}
.slide {
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slide p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.slide-marker {
    position: absolute;
    top: -30px;
    width: 100px;
}
.slide-bottom-text {
    position: absolute;
    bottom: -30px;
}